.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 40px;
  padding: 40px 100px 0;
}

.match-container {
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-container,
.opponent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--side-bg-color);
  border-radius: 20px;
  padding: 20px 20px;
  width: 32%;
  height: 100%;
  font-size: 42px;
}

.username,
.opponent-name {
  font-size: 36px;
}

.selection {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.selection button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-weapon {
  background: none;
  border: none;
  outline: none;
  transition: transform 0.3s, filter 0.3s ease-in-out;
  filter: opacity(0.4);
}

.selection-weapon:hover {
  filter: opacity(1);
}

.selection-weapon:focus {
  transform: scale(1.2);
  filter: opacity(1);
}

.selection-weapon img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  padding: 10px;
  background: var(--white);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.selection-rock img {
  border: 8px solid var(--primary-blue);
}

.selection-paper img {
  border: 8px solid var(--green);
}

.selection-scissors img {
  border: 8px solid var(--red);
}

.selection span {
  z-index: 1;
}

.selection.opponent .selection-weapon {
  background: none;
  border: none;
  outline: none;
  transition: none;
  filter: opacity(0.4);
}

.selection.opponent .selection-weapon:hover {
  filter: opacity(0.4);
}

.selection.opponent .selection-weapon:focus {
  transform: scale(1);
  filter: opacity(0.4);
}

.score-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: var(--main-bg-color);
  width: 32%;
  font-size: 38px;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 30px;
}

.score-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0ecec;
  border-radius: 20px;
  padding: 10px 20px;
}

.score-container div p {
  color: var(--side-bg-color);
}

.score-container div span {
  color: var(--primary-blue);
}

.score-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-container div span {
  font-weight: 700;
  font-family: 'roboto';
  font-size: 48px;
}

/* .score-container span:last-of-type {
} */

.match-result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-result span {
  font-size: 58px;
  text-align: center;
}

.play-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.button-container button {
  background: transparent;
  outline: none;
  border: 1px solid var(--primary-blue);
  color: white;
  border-radius: 40px;
  padding: 14px 80px;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  transition: background-color 0.4s;
}

.button-container > button:hover {
  background-color: var(--primary-blue);
}

.button-container > button.ready {
  border: '1px solid green';
  background-color: green;
}

@media screen and (max-width: 1200px) {
  .match-container {
    width: 100%;
  }

  .match-result span {
    font-size: 48px;
  }

  .user-container,
  .opponent-container {
    width: 40%;
  }

  .selection {
    width: 90%;
  }

  .score-container {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .selection {
    width: 100%;
  }
}
