.main-lobby {
  color: white;
  height: 100%;
  padding-top: 1%;
}

.main-lobby-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-lobby-container img {
  width: 25%;
}

.lobby-title {
  text-align: center;
}

.lobby-title p {
  font-size: 38px;
}

.welcome p {
  font-size: 32px;
}

.lobby-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 40%;
}

.lobby-button-container a {
  text-decoration: none;
}

.lobby-button-container span {
  font-size: 32px;
  color: white;
}

.lobby-button-container button {
  background: transparent;
  outline: none;
  border: 1px solid var(--primary-blue);
  color: white;
  border-radius: 40px;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
  font-size: 26px;
  transition: background-color 0.4s;
}

.lobby-button-container button:hover {
  background-color: var(--primary-blue);
}

@media screen and (max-width: 1024px) {
  .lobby-title p {
    font-size: 25px;
  }

  .lobby-button-container {
    width: 60%;
  }
}
