.roomhandler {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  min-width: 50%;
  text-align: center;
}

.card span {
  font-size: 34px;
}

.create-room,
.join-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.create-room {
  height: 65%;
  align-self: flex-start;
}

.create-room button,
.join-room button {
  background: none;
  outline: none;
  border: 0.2px solid white;
  color: white;
  padding: 5px 30px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

.join-room input {
  width: 80%;
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .card {
    min-width: 80%;
  }
}
